# This is Git's per-user configuration file.
#[user]
# Please adapt and uncomment the following lines:

[alias]
	ca = !git add -A && git commit -av
[user]
	email = timkelsch@gmail.com
	name = Tim Kelsch
